@{
    ViewBag.Title = "Quản lý Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div ng-controller="menuController">
    <!--Header Section-->
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active text-uppercase">@ViewBag.Title</li>
        </ol>
    </div>

    <!--Body-->
    <div class="section-body">
        @*<input type="hidden" value="@WebSecurity.CurrentUserName" id="user" />*@
        <div class="row">

        </div>
        <hr class="ruler-lg" />

        <div class="card">
            <div class="card-body">
                @*<span us-spinner="{radius:15, width:4, length: 8}"></span>*@
                <!--Menus-->
                <div class="col-md-12 col-sm-12 col-xs-12" id="menu">
                    <div id="gridContainer" dx-data-grid="gridMenus"></div>
                    <div dx-context-menu="contextMenuMenu"></div>
                </div>

                <!--Popup Modify-->
                <div class="popup" dx-popup="popupModifyMenu">
                    <div data-options="dxTemplate: { name:'templateModifyMenu' }">
                        <form ng-submit="SaveMenu($event)" dx-validation-group="{menu}">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="dx-field">
                                        <label>Tên <span class="text-danger" title="Vui lòng nhập trường này" data-toggle="tooltip">(*)</span></label>
                                        <div dx-text-box="controlMenu.name"
                                             dx-validator="{validationRules:[{type: 'required', message: 'Nhập tên Menu'}]}"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="dx-field">
                                        <label>Ghi chú</label>
                                        <div dx-text-area="controlMenu.note"></div>
                                    </div>
                                </div>
                                <div dx-validation-summary="{menu}"></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="pull-left" dx-button="{ text: 'Lưu', icon: 'floppy', type: 'success', useSubmitBehavior: true }"></div>
                                <div class="pull-right" dx-button="{ text: 'Hủy bỏ', icon: 'clear', onClick: CancelSaveMenu, type: 'danger' }"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Popup Delete-->
                <div class="popup" dx-popup="popupDeleteMenu">
                    <div data-options="dxTemplate: { name:'templateDeleteMenu' }">
                        <div style="text-align: center" ng-cloak>{{titleDeleteMenu}}</div>
                        <br />
                        <div dx-button="{ text: 'Có', icon: 'floppy', onClick: ConfirmDeleteMenu, type: 'success' }"></div>
                        <div dx-button="{ text: 'Không', icon: 'clear', onClick: CancelDeleteMenu, type: 'danger' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




