<!DOCTYPE html>
<html>
<head>
    <title>Công ty Cô Phần Môi trường đô thị Hải Dương</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="description" content="" />
    <meta name="msvalidate.01" content="" />
    <meta name="google-site-verification" content="" />
    <meta name="robots" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="article:publisher" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Công ty Cô Phần Môi trường đô thị Hải Dương" />
    <meta content="initial-scale=1" name="viewport" />
    <meta property="og:title" content="Công ty Cô Phần Môi trường đô thị Hải Dương" />
    <link rel="canonical" href="" />

    <link href="~/Content/Vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">

    <link href="~/Content/Frontend/Theme/MTDTHD/css/style.css" rel="stylesheet" />
    <script src="~/Content/Frontend/Theme/MTDTHD/js/pf228fkdkdm.1706131924517.js"></script>


    <script type="text/javascript">
        (function (n) { var t = n.Process || {}, i = function (n) { var t = +n; return isNaN(t) ? n : t }, u = function (n) { return decodeURIComponent(n.replace(/\+/g, "%20")) }, o = /\{(.+?)\}/g, s = window.location.hash && window.location.hash[1] === "~" && !/\bSPPC=./i.test(document.cookie || ""), e = [], f = null, r = null; t.Page = function (n) { for (var i = n.length; i--;)s ? e.push(n[i]) : t.Element(document.getElementById(n[i])) }; t.Delayed = function () { var n; for (r = null; n = e.shift();)t.Element(document.getElementById(n)) }; t.Element = function (n) { if (n) switch (n.getAttribute("data-process")) { case "if": t.If(n); break; case "replace": t.Replace(n); break; default: t.Fix(n) } }; t.Replace = function (n) { var i, f = n.parentNode, r = document.createTextNode(t.Get(n.getAttribute("data-replace"))), u = n.firstElementChild; u && u.getAttribute && (i = u.getAttribute("href")) && i.substring(0, 4) === "tel:" && (i = document.createElement("a"), i.setAttribute("href", "tel:" + r.data), i.appendChild(document.createTextNode(r.data)), r = i); f.insertBefore(r, n); f.removeChild(n) }; t.Fix = function (n) { var r, u, i, f = n.attributes.length, e = n.childNodes.length; if (n.nodeName === "SCRIPT") { n.parentNode.removeChild(n); return } while (f--) r = n.attributes[f], r.name.substring(0, 13) == "data-replace-" && (u = r.name.substring(13), n.setAttribute(u, t.Get(r.value)), n.removeAttribute(r.name)); while (e--) i = n.childNodes[e], i.nodeType === 3 && i.data && i.data.indexOf("{") >= 0 && (i.data = t.Get(i.data)) }; t.If = function (n) { for (var i, u, f, e, o = n.parentNode, s = n.attributes.length, r = undefined; s--;) { i = n.attributes[s]; switch (i.name) { case "field": r = t.Check(n, t.Get(i.value)); break; case "nofield": r = !t.Check(n, t.Get(i.value)) }if (r !== undefined) break } if (r) for (u = n.childNodes, f = 0, e = u.length; f < e; f++)o.insertBefore(u[0], n); o.removeChild(n) }; t.Check = function (n, r) { for (var u, f, e = n.attributes.length; e--;) { u = n.attributes[e]; switch (u.name) { case "equals": return r == t.Get(u.value); case "gt": case "greaterthan": case "morethan": return i(r) > i(t.Get(u.value)); case "gte": return i(r) >= i(t.Get(u.value)); case "lt": case "lessthan": case "lesserthan": return i(r) < i(t.Get(u.value)); case "lte": return i(r) <= i(t.Get(u.value)); case "ne": case "notequals": return r != t.Get(u.value); case "contains": return f = t.Get(u.value), r.indexOf(f >= 0); case "notcontains": return f = t.Get(u.value), !r.indexOf(f >= 0); case "in": return f = t.Get(u.value), t.InArray(r, ("" + f).split(",")); case "notin": return f = t.Get(u.value), !t.InArray(r, ("" + f).split(",")); case "between": return f = t.Get(u.value).Split(","), f.length == 2 && i(r) >= i(f[0]) && i(r) <= i(f[1]) ? !0 : !1 } } return !!r }; t.InArray = function (n, t) { for (var i = t.length; i--;)if (t[i] == n) return !0; return !1 }; t.Get = function (n) { return n.replace(o, function (n, i) { var r = i.split("/"), f = r.shift(); return t.Data(f.split(":"), 0) || u(r.shift() || "") }) }; t.Data = function (n, i) { var r; switch (n[i].toLowerCase()) { case "f": return t.Format(n[i + 1], n, i + 2); case "if": return t.Data(n, i + 1) ? n.pop() : ""; case "ifno": case "ifnot": return t.Data(n, i + 1) ? "" : n.pop(); case "q": case "querystring": return t.Query(n[i + 1]) || ""; case "session": case "cookie": return t.Cookie(n[i + 1]) || ""; case "request": return r = window.location.search, r && r[0] === "?" && n[i + 1] && n[i + 1][0] != "?" && (r = r.substr(1)), r; default: return "" } }; t.Format = function (n, i, r) { var s, u, o, f, e; if (!n || r > i.length - 1) return ""; if (s = null, u = null, n = n.toLowerCase(), f = 0, n == "binary") f = 2; else if (r + 1 < i.length) switch (n) { case "p": case "phone": case "p2": case "phone2": i[r].indexOf("0") >= 0 && (u = i[r], f = 1); break; default: o = parseInt(i[r]); isNaN(o) || (s = o, f = 1) }e = t.Data(i, r + f); switch (n) { case "p": case "phone": return t.Phone("" + e, u); case "p2": case "phone2": return t.Phone("" + e, u || "000.000.0000"); case "tel": return t.Phone("" + e, u || "0000000000") } }; t.Phone = function (n, t) { var u, i, f, r; if (!n) return ""; if (u = n.replace(/\D+/g, ""), u.length < 10) return n; for (i = (t || "(000) 000-0000").split(""), f = 0, r = 0; r < i.length; r++)i[r] == "0" && (f < u.length ? i[r] = u[f++] : (i.splice(r, 1), r--)); return f == 10 && u.length > 10 && i.push(" x" + u.substring(10)), i.join("") }; t.Query = function (n) { var i, r, t, e; if (!f) for (f = {}, i = window.location.search ? window.location.search.substring(1).split("&") : [], r = i.length; r--;)t = i[r].split("="), e = u(t.shift()).toLowerCase(), f[e] = t.length ? u(t.join("=")) : null; return f[n.toLowerCase()] }; t.Cookie = function (n) { var f, i, o, e, t; if (!r) for (r = {}, f = document.cookie ? document.cookie.split("; ") : [], i = f.length; i--;) { o = f[i].split("="); e = u(o.shift()).toLowerCase(); t = o.join("="); switch (t[0]) { case "#": r[e] = +t.substring(1); break; case ":": r[e] = new Date(+t.substring(1)); break; case "!": r[e] = t === "!!"; break; case "'": r[e] = u(t.substring(1)); break; default: r[e] = u(t) } } for (f = n.split("|"), i = 0; i < f.length; i++)if (t = r[f[i].toLowerCase()], t) return t; return "" }; n.Process = t; document.documentElement && (document.documentElement.clientWidth <= 1280 || (t.Cookie("pref") & 1) == 1) && (document.documentElement.className += " minimize") })(this);
        (function (n) { window.rrequire || n(window) })(function (n) { function c(n) { return n && v.call(n) === "[object Function]" } function p(n) { return n && v.call(n) === "[object Array]" } function ut(n) { for (var t, i, u, r, f, e = document.styleSheets, o = e && e.length; o--;) { t = e[o]; try { i = t && (t.cssRules || t.rules) } catch (s) { continue } for (u = i && i.length; u--;)try { if (r = i[u], f = r && (r.selectorText || r.cssText), f && n.test(f)) return !0 } catch (s) { } } return !1 } function ft(t, i, u, e, o) { var h = function () { o ? n.register(u) : e === "css" && (r[u] = !0) }, s = function () { e === "js" && console.log('error - "' + i + '" could not be loaded, rrequire will not fire.') }; t.addEventListener ? (t.addEventListener("load", h, !1), t.addEventListener("error", s, !1)) : t.onload = t.onreadystatechange = function (n, i) { var r = t.readyState; if (i || !r || /loaded|complete/.test(r)) { if (r === "loaded" && (t.children, t.readyState === "loading" && (r = "error")), t.onload = t.onreadystatechange = null, t = null, o && r !== "error") { setTimeout(function () { var n = f[u]; !n || n() ? h() : s(); h = null; s = null }, 1); return } r === "error" ? s() : h(); s = null; sucess = null } } } function w(i, u, f, e) { var a, v, w, h, c, k, o, l, d; if (i && n.document) { for (a = n.document.getElementsByTagName(u), v = a.length; v--;)if (w = a[v], h = w.getAttribute(f), h) { if (h = h.toLowerCase().replace(/\.\d{13}(\.js|\.css)/, "$1"), t[h]) continue; else t[h] = !0; if (c = w.getAttribute("data-require"), c) { try { c = JSON.parse(c) } catch (g) { } if (p(c)) for (k = c.length; k--;)o = c[k].toLowerCase(), t[o] = !0, u === "link" && (r[o] = !0), o && o.substring(0, 4) === "cms/" && (t["/" + o + ".js"] = !0) } if (l = h.indexOf(s + e + "/"), l >= 0) { o = h.substring(l + s.length + e.length + 1).replace(new RegExp("\\." + e + "$"), ""); switch (o) { case "j/jquery.1.x": case "j/jquery.2.x": case "j/jquery.3.x": o = "j/jquery" }t[o.toLowerCase()] = !0 } l = h.indexOf(nt); l === 0 && (o = h.substring(l + 1).replace(new RegExp("\\." + e + "$"), ""), t[o.toLowerCase()] = !0); h.replace(y, function (n, i, r, u) { r ? (t["//" + r + u] = !0, r == window.location.hostname && (t[u.toLowerCase()] = !0)) : t[u.toLowerCase()] = !0 }) } if (o = i.toLowerCase(), !t[o]) { if (i === "cms" && t["cms-5"] || i === "cms-5" && t.cms) { t[o] = !0; return } if (e === "js") b(i, "script", "src", "js"); else if (e === "css") { if (d = rt[i], d && ut(d)) { r[i] = !0; return } b(i, "link", "href", "css") } } } } function b(i, u, f, e) { var c, o, l, a = n.document.head || n.document.body, v = !1, p, w; if (a) { p = r[i.toLowerCase()]; w = t[i.toLowerCase()]; document.documentElement.classList && document.documentElement.classList.add("requiring"); switch (i) { case "j/jquery": i = "j/jquery.2.x" }if (i !== "j/jquery.2.x" || n.Modernizr && n.Modernizr.canvas || (i = "j/jquery.1.x"), o = n.document.createElement(u), l = y.exec(i)) c = l[1] || !l[2] ? i : n.location.protocol + "//" + l[2] + l[3], e === "js" && i !== h.googlemap[0][0] && (v = !0); else if (c = /^cms\//.test(i) ? "/" + i + "." + e : s + e + "/" + i + "." + e, t[c]) return; switch (e) { case "js": o.setAttribute("type", "text/javascript"); o.setAttribute("async", "async"); break; case "css": o.setAttribute("type", "text/css"); o.setAttribute("rel", "stylesheet") }ft(o, c, i, e, v); o.setAttribute(f, c); a.appendChild(o); o = null; a = null; t[i] = !0 } } function k(n) { for (var t, i = n.length; i--;)if (t = n[i], t && !r[t]) return !1; return !0 } function et() { var t, n = u.length; for (e && (clearTimeout(e), e = 0); n--;)t = u[n], t[2] === !0 && u.splice(n, 1); u.length === 0 && document.documentElement.classList && document.documentElement.classList.remove("requiring") } function ot() { for (var t, i = 0, r = u.length; i < r;)(t = u[i++], t[2] !== !0) && k(t[0]) && (t[2] = !0, t[1](n.jQuery, n), e && clearTimeout(e), e = setTimeout(et, 1)) } function d(n) { var t; if (n) { if (typeof n == "string") return [n.toLowerCase()]; if (p(n)) { for (t = n.length; t--;)n[t] = ("" + (n[t] || "")).toLowerCase(); return n } return null } return null } function g(n, t) { for (var i, r, u = 0; u < n.length; u++)if (i = h[n[u]], i) { for (n.splice(u, 1), u-- , r = i[0].length; r--;)n.push(i[0][r]); if (i[1] && t) for (r = i[1].length; r--;)t.push(i[1][r]) } t && t.length && g(t) } var i = "/", o = ".", s = i + i + "www.scorpioncms.com/common" + i, nt = i + "cms" + i, r = {}, t = {}, u = [], e = 0, l = document && document.documentElement && document.documentElement.getAttribute("data-gmap"), tt = l && "&key=" + l, a = Object.prototype, v = a.toString, it = a.hasOwnProperty, h = { jquery: [["j/jquery", "j/jquery.ui"]], behavior: [["behaviors"], ["cms-behave"]], googlemap: [["https:" + i + i + "maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&callback=registermap" + (tt || "")]], map: [["m/gmap"]], loading: [["c/loading2"], ["cms-5"]], jwplayer: [[i + "common/js/v/jwplayer" + o + "js"]], tools: [["jquery", "behavior", "extensions", "uri", "chart", "c/cms", "c/scrollbar", "loading", "form"], ["cms-tools", "opensans"]], opensans: [[i + i + "fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Montserrat:400,700"]], ckeditor: [[o + o + i + "ckeditor/ckeditor"]], ace: [[i + i + "cdn.jsdelivr.net/ace/1.1.9/min/ace" + o + "js"]], weather: [["m/weather"]], cookie: [["j/jquery.cookie"]] }, f = { "j/jquery": function () { return !!n.jQuery }, "j/jquery.1.x": function () { return !!n.jQuery }, "j/jquery.2.x": function () { return !!n.jQuery }, "j/jquery.3.x": function () { return !!n.jQuery }, "j/jquery.ui": function () { return !!(n.jQuery && n.jQuery.widget) }, googlemap: function () { return !!(n.google && n.google.maps) }, jwplayer: function () { return !!n.jwplayer }, ckeditor: function () { return !!n.CKEDITOR }, ace: function () { return !!n.ace }, weather: function () { return !!(n.jQuery && n.jQuery.weather) } }, rt = { "cms-5": /\.ui\-widget\-overlay3\b/, "cms-behave": /\.ui\-conditional\-panel\b/, "cms-toolbar": /#SMSTop\b/, cms: /\.ui\-dialog\-titlebar\-fullscreen\b/ }, y = /^(https?:)?(?:\/\/([\w\-\.]+))?(\/.+)/i; (function () { var n; for (var t in f) it.call(f, t) && (n = h[t], n && n[0] && n[0][0] && (f[n[0][0]] = f[t])) })(); n.registerLoading = function (n) { t[n] = !0 }; n.register = function (n) { n && typeof n == "string" && (r[n] = !0, ot()) }; n.registermap = function () { var n = h.googlemap[0][0]; register(n) }; n.rrequire = function (i, e, o) { var v, s, y, l, h, p, a; if (i = d(i), i) { for (c(o) && (v = o, o = e, e = v, v = null), o = d(o), o || (o = []), g(i, o), s = i.length, y = !0; s--;)if ((l = i[s], l) && (h = l.toLowerCase(), !r[h])) { if (p = f[h], p && p()) { r[h] = !0; continue } y = !1; t[h] || w(l, "script", "src", "js") } for (s = 0; s < o.length;)(a = o[s], a) && (h = a.toLowerCase(), r[h] || w(a, "link", "href", "css"), s++); c(e) && (y || k(i) ? e(n.jQuery, n) : u.push([i, e, !1])) } }; n.rrequire.setBase = function (n) { s = n }; n.rrequire.setDetect = function (n, t) { n && typeof n == "string" && c(t) && (f[n] = t) }; n.rrequire.getLoading = function () { var n = Object.keys(t); return n.sort(), console.log(JSON.stringify(n, null, "\t")) }; n.require || (n.require = n.rrequire) });
    </script>
</head>
<body>
    <header id="TopArea">
        <!--Menu-->
        <div class="nav-container">
            <div class="fixed">
                <div class="icobalt ilayout iarea" id="TopBarZone">
                    <div id="TopBanner" class="top-banner main cf">
                        <div class="header-left">
                            <span>Số 211 - Đường Lê Thanh Nghị - TP. Hải Dương</span>
                        </div>
                        <div class="social-links">
                            <ul id="SocialList-Top">
                                <li data-item="i" data-key="1"><a href="https://www.facebook.com" target="_blank" rel="nofollow"><icon class="facebook"></icon></a></li>
                                <li data-item="i" data-key="5"><a href="https://twitter.com" target="_blank" rel="nofollow"><icon class="twitter"></icon></a></li>
                                <li data-item="i" data-key="2"><a href="https://plus.google.com" target="_blank" rel="nofollow"><icon class="google-plus"></icon></a></li>
                                <li data-item="i" data-key="4"><a href="https://www.pinterest.com" target="_blank" rel="nofollow"><icon class="pinterest"></icon></a></li>
                                <li data-item="i" data-key="3"><a href="https://www.youtube.com" target="_blank" rel="nofollow"><icon class="youtube-3"></icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="icobalt ilayout iarea" id="MastheadZone">
                    <div id="CMasthead" class="main masthead">
                        <a class="logo" href="/" title="CÔNG TY CỔ PHẦN MÔ TRƯỜNG ĐÔ THỊ HẢI DƯƠNG"><img alt="The Cleaning Authority" src="~/Content/Frontend/Theme/MTDTHD/images/Logo.png" title="CÔNG TY CỔ PHẦN MÔ TRƯỜNG ĐÔ THỊ HẢI DƯƠNG"></a>
                        <nav class="top-nav main">
                            <ul id="DesktopNav" class="desktop-nav corporate-nav">
                                <li>
                                    <a href="/" target="">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="/gioi-thieu" target="">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="javascript:;" target="">Tin tức</a>
                                    <ul id="FlyNav11" class="nav-fly">
                                        <li>
                                            <a href="/tin-tuc-su-kien" target="" title="Tin tức - Sự kiện">Tin tức - Sự kiện</a>
                                        </li>
                                        <li>
                                            <a href="/hoat-dong-cong-ty" target="" title="Hoạt động công ty">Hoạt động công ty</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" target="">Đơn vị trực thuộc</a>
                                    <ul id="FlyNav21" class="nav-fly">
                                        <li>
                                            <a href="/van-phong-cong-ty" target="">Văn phòng công ty</a>
                                        </li>
                                        <li>
                                            <a href="/xi-nghiep-truc-thuoc" target="">Xí nghiệp trực thuộc</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/san-pham" target="">Sản phẩm</a>
                                    <ul id="FlyNav21" class="nav-fly">
                                        <li>
                                            <a href="/san-pham/san-xuat-xe-gom-rac-46" target="">Sản xuất xe gom rác</a>
                                        </li>
                                        <li>
                                            <a href="/san-pham/cho-thue-nha-ve-sinh-cong-cong-45" target="">Cho thuê nhà vệ sinh công cộng</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/dich-vu" target="">Dịch vụ</a>
                                    <ul id="FlyNav21" class="nav-fly">
                                        <li>
                                            <a href="/dich-vu/cho-thue-ban-cac-thiet-bi-thu-chua-rac-48" target="">Cho thuê - bán thiết bị thu chứa rác</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu/thu-gom-van-chuyen-va-xay-ly-rac-thai-sinh-hoat-50" target="">Thu gom - vận chuyển - xử lý rác thải sinh hoạt</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu/thu-gom-van-chuyen-va-xu-ly-rac-cong-nghiep-thong-thuong-49" target="">Thu gom - vận chuyển - xử lý rác thải công nghiệp</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu/cho-thue-nha-ve-sinh-cong-cong-47" target="">Cho thuê nhà vệ sinh công cộng</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" target="">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="" target="">Liên hệ</a>
                                </li>
                            </ul>
                            <div class="phone-number">
                                HÃY GỌI NGAY
                                <a href="tel:02203852435" id="CMasthead_1"><span id="CMasthead_2">0220 3852435</span> </a>
                            </div>
                            <ul class="mobile-nav">
                                <li class="mobile-call">
                                    <a href="tel:02203852435" id="CMasthead_3">
                                        <div class="icon"></div>
                                        <span>Gọi ngay</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-btn">
                                        <icon class="menu-12"></icon>
                                        <span>Menu</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!--Slide-->
        <div id="first-slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1" style="background-image: url(/Content/Images/images/Slide/slide1.jpg);background-size: cover;background-repeat: no-repeat;">
                        @*<div class="row">
                            <div class="container">
                                <div class="col-md-3 text-right">
                                    <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                                </div>
                                <div class="col-md-9 text-left">
                                    <h3 data-animation="animated bounceInDown">Add images, or even your logo!</h3>
                                    <h4 data-animation="animated bounceInUp">Easily use stunning effects</h4>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- Item 2 -->
                    <div class="item slide2" style="background-image: url(/Content/Images/images/Slide/slide2.jpg);background-size: cover;background-repeat: no-repeat;">
                        @*<div class="row">
                            <div class="container">
                                <div class="col-md-7 text-left">
                                    <h3 data-animation="animated bounceInDown"> 50 animation options A beautiful</h3>
                                    <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                                </div>
                                <div class="col-md-5 text-right">
                                    <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3" style="background-image: url(/Content/Images/images/Slide/slide3.jpg);background-size: cover;background-repeat: no-repeat;">
                        @*<div class="row">
                            <div class="container">
                                <div class="col-md-7 text-left">
                                    <h3 data-animation="animated bounceInDown">Simple Bootstrap Carousel</h3>
                                    <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider with Animate.css</h4>
                                </div>
                                <div class="col-md-5 text-right">
                                    <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <!-- End Wrapper for slides-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i><span class="sr-only">Quay lại</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i><span class="sr-only">Tiếp theo</span>
                </a>
            </div>
        </div>
    </header>

    @RenderBody()

    <!--Footer-->
    <footer id="Footer">
        <div id="LinksArea">
            <div class="icobalt ilayout iarea" id="LinksZone">
                <div id="FooterLinks" class="main cf">
                    <div class="left-side">
                        <img src="~/Content/Frontend/Theme/MTDTHD/images/Logo.png" alt="The Cleaning Authority" title="The Cleaning Authority">
                        <ul>
                            <li><a href="/about-us/">Giới thiệu</a></li>
                            <li><a href="/blog/">Dịch vụ</a></li>
                            <li><a href="/about-us/career-opportunities/">Sản phẩm</a></li>
                            <li><a href="http://franchise.thecleaningauthority.com/" target="_blank">Tin tức</a></li>
                            <li><a href="http://franchise.thecleaningauthority.com/" target="_blank">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="right-side">
                        <div class="phone-number">
                            <strong>Gọi chúng tôi qua</strong>
                            <a href="tel:0220 3852435" id="FooterLinks_1" ><span id="FooterLinks_2">0220 3852435</span></a>
                        </div>
                        <div class="bottom">
                            <ul id="FooterSocial" class="footer-social">
                                <li data-item="i" data-key="">

                                    <a href="https://www.facebook.com" target="_blank" rel="nofollow"><icon class="facebook"></icon></a>
                                </li>
                                <li data-item="i" data-key="">

                                    <a href="https://twitter.com" target="_blank" rel="nofollow"><icon class="twitter"></icon></a>
                                </li>
                                <li data-item="i" data-key="">

                                    <a href="https://plus.google.com" target="_blank" rel="nofollow"><icon class="google-plus"></icon></a>
                                </li>
                                <li data-item="i" data-key="">

                                    <a href="https://www.pinterest.com/" target="_blank" rel="nofollow"><icon class="pinterest"></icon></a>
                                </li>
                                <li data-item="i" data-key="">

                                    <a href="https://www.youtube.com" target="_blank" rel="nofollow"><icon class="youtube-3"></icon></a>
                                </li>
                                <li data-item="i" data-key="">

                                    <a href="http://www.thecleaningauthority.com" target="_blank" rel="nofollow"><icon class="feed"></icon></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="DisclaimerArea">
            <div class="icobalt ilayout iarea" id="DisclaimerZone">
                <div id="Disclaimer" class="disclaimer-content main">
                    <div class="left">
                        <p>&copy; Copyright Công ty Cổ phần Môi trường đồ thị Hải Dương, All rights reserved.</p>
                        <p>
                            Available at participating franchised locations only. Contact your local
                            franchised office to determine what types of products and services are
                            offered in your area.
                        </p>
                    </div>
                    <div class="right">
                        Website:
                        <a href="" style="word-wrap:break-word;max-width:100%">http://www.urencohaiduong.com.vn</a>
                        <br>
                        <a href="/site-map/">Site Map</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Content/Vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">rrequire('form', function () { $('#Form_FreeEstimate-Top').html5form(); });</script>

    <script src="~/Content/Frontend/Theme/MTDTHD/js/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939674196/?value=0&guid=ON&script=0" />
        </div>
    </noscript>
    <script src="~/Content/Frontend/Theme/MTDTHD/js/gt9grwdc1xz.1701192008046.js"></script>
    <noscript id="deferred-styles">
        <link href="~/Content/Frontend/Theme/MTDTHD/css/googleFont.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="//www.scorpioncms.com/css/eh2isx6tu9r.css" />
    </noscript>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById('deferred-styles');
            var replacement = document.createElement('div');
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
    <!--Slide-->
    <script>
        (function ($) {

            //Function to animate slider captions
            function doAnimations(elems) {
                //Cache the animationend event in a variable
                var animEndEv = 'webkitAnimationEnd animationend';

                elems.each(function () {
                    var $this = $(this),
                        $animationType = $this.data('animation');
                    $this.addClass($animationType).one(animEndEv, function () {
                        $this.removeClass($animationType);
                    });
                });
            }

            //Variables on page load
            var $myCarousel = $('#carousel-example-generic'),
                $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

            //Initialize carousel
            $myCarousel.carousel();

            //Animate captions in first slide on page load
            doAnimations($firstAnimatingElems);

            //Pause carousel
            $myCarousel.carousel('pause');


            //Other slides to be animated on carousel slide event
            $myCarousel.on('slide.bs.carousel', function (e) {
                var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
                doAnimations($animatingElems);
            });
            $('#carousel-example-generic').carousel({
                interval: 3000,
                pause: "false"
            });

        })(jQuery);
    </script>
</body>
</html>